
<footer id="page_footer">

    <div>
        <i class="fa-brands fa-github"></i> <a href="https://github.com/Iker-JS/pokedex_midterm/blob/main/views/home.ejs" >GitHub</a>
    </div>

    <div>
        <i class="fa-solid fa-web-awesome"></i> <a href="https://pokeapi.co/">PokeApi</a>
    </div>

</footer>

</body>
</html>