<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="./styles/style.css"/>
    <script src="https://kit.fontawesome.com/58c50d4846.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="title_container">
        <header class="pokedex_title">The JS Pokedex</header>
    </div>
    
    <div id="main">

            