<div class="page_pokemon_container">

    <div id="pokemon_name_id">
        <h1><%= pokemonData.name %></h1>
    </div>

    <div id="pokemon_type">
        <h2>Type(s): <%= pokemonData.types.map(type => type.type.name).join(', ') %></h2>
    </div>


    
    <div id="pokemon_abilities">
        <h2>Abilities: <%= pokemonData.abilities.map(ability => ability.ability.name).join(', ') %></h2>
    </div>

    <div id="pokemon_moves">
        <h2>Moves: <%= pokemonData.moves.map(move => move.move.name).join(', ') %></h2>

    </div>

</div>

