<main id="page_main">
    <div>
    
        <nav class="nav_bar">
            <a href="/" class="nav_link">Home</a>
            <a href="/about" class="nav_link">Search</a>
        </nav>
    
    </div>

    <div id="pokemon_search_zone">
        <div id="pokemon_search_container">
            <form id="pokemon_search_form" method="POST" action="/search">
                <input id="pokemon_search_name" name="name" type="text" placeholder="Search" required autocomplete="off">
                <button type="submit" id="pokemon_search_button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>

    </div>    
    
            
        <div id="button_backward_forward_container">
            <form action="/navigate" method="POST">
                <input type="hidden" name="direction" value="prev">
                <input type="hidden" name="currentId" value="<%= locals.pokemonData ? pokemonData.id : 0 %>">
                <button type="submit" class="button_backward_forward"><i class="fa-solid fa-left-long"></i></button>
            </form>
            
            <form action="/navigate" method="POST" >
                <input type="hidden" name="direction" value="next">
                <input type="hidden" name="currentId" value="<%= locals.pokemonData ? pokemonData.id : 0 %>">
                <button type="submit" class="button_backward_forward"><i class="fa-solid fa-right-long"></i></button>
            </form>
        </div>
    </div>
