body{
    background-color: #CC0000;
    margin: 30px;
}

#button_backward_forward_container{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}
.button_backward_forward{

    width:  60px;
    height: 60px;
    background-color: #7E49B5;
    color: #FA678E;
    font-size: 2rem;
    border-radius: 50%;
    border: 5px solid black;
}

.button_backward_forward:hover{
    background-color: #FA678E;
    color: #7E49B5;
}


.page_header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    height: 50px;
}

.page_header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 4rem;
    margin: 0;
    color: white;
}

#pokemon_search_zone{

    border: 5px solid black;
}

#pokemon_search_container{
    display: flex;
    justify-content: right;
    align-items: flex-start;
    height: auto;
    padding: 16px;
}

#pokemon_search_name{
    background-color: #B3A125;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    width: 140px;

}

#pokemon_search_name::placeholder{
    color: black;
    font-family:'Times New Roman', Times, serif;
}

#pokemon_search_button{
    
    background-color: #CC0000;
    color: white;
    height: 30px;
    border-radius: 0% 50% 50% 0%;
    border: 2px solid black;
    
}

#pokemon_search_button:hover{
    color: #CC0000;
    background-color: white;
}

#page_main{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    background-color: white;
    border: 5px solid black;
    margin-top: 10px;
    padding: 10px;
}

.page_pokemon_container{

    /* background-color: #3B4CCA; */
    background-color: #B7B6BB;    
    border: 2px solid black;
    margin-top: 10px;
    padding: 10px;
    height: auto;

}
#pokemon_name{

    display: flex;
    justify-content: center;
    align-items: center;
}

#page_footer{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid black;
    background-color: #B3A125;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
    font-size: 1.5rem;


}

#page_footer>div>a:hover{
    color: #6E39a5;
}