body{
    background-color: #CC0000;
    margin: 30px;
}
.page_header_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
}

#page_main{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    border: 5px solid black;
    padding: 10px;
}



#pokemon_search_zone{

    padding: 16px;

}

#pokemon_search_container{
    display: flex;
    justify-content: right;
    align-items: flex-start;
    height: auto;
}

#pokemon_search_name{
    background-color: #B3A125;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    width: 140px;

}

#pokemon_search_name::placeholder{
    color: black;
    font-family:'Times New Roman', Times, serif;
}

#pokemon_search_button{
    
    background-color: #CC0000;
    font-size: 20px;
    font-weight: bold;
    color: white;
    height: 39px;
    border-radius: 0% 50% 50% 0%;
    border: 2px solid black;
    
}

#pokemon_search_button:hover{
    color: #CC0000;
    background-color: white;
    border-radius: 10% 50% 50% 10%;

}

#button_backward_forward_container{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    border-bottom: 2px solid black;
    padding-bottom: 16px;
}
.button_backward_forward{

    width:  60px;
    height: 60px;
    background-color: #7E49B5;
    color: #FA678E;
    font-size: 2rem;
    border-radius: 50%;
    border: 5px solid black;
}

.button_backward_forward:hover{
    background-color: #FA678E;
    color: #7E49B5;
}

#display_card{

    display: flex;
    justify-content: right;
}


.pokemon_card{
    padding: 1%;
    background-color: orange;
    border: 1px solid black;
    width: 300px;
    height: auto;

}

.pokemon_card_info > p{
    background: #000;
}
.pokemon_card_info{
    padding: auto;
    border: 1px solid black;

    font-weight: bold;
    background: rgb(221,91,31);
    background: linear-gradient(0deg, rgba(221,91,31,1) 0%, rgba(224,183,30,1) 37%, rgba(221,91,31,1) 100%);
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;

}


.pokemon_card_id_container{

    position: relative;
    display: inline-block;
    text-align: center;
}
 
.pokemon_card_id_container > img {
    width: 50px;
    height:50px;
}
.pokemon_card_id{

    color: cyan;
    font-size: 1.2rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokemon_card_image{
    display: flex;
    justify-content: center;
}

.pokemon_card_image > img{
    width: 200px;
    height: 200px;
}
.pokemon_card_name{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;

}

.pokemon_card_type{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;

}

.page_pokemon_container{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #B7B6BB;
    border: 2px solid black;
    margin-top: 10px;
    padding: 10px;
    height: auto;

}
#pokemon_name{

    display: flex;
    justify-content: center;
    align-items: center;
}

.page_pokemon_container {
    background-color: #B7B6BB;    
    border: 2px solid black;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#pokemon_moves {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#bulletpoints {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 0;
    list-style-position: inside;
    margin: 0;
}

#bulletpoints li {
    margin: 0;
    padding: 5px 0;
}

#page_footer{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid black;
    background-color: #B3A125;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
    font-size: 1.5rem;
}


#page_footer > div > a:hover{
    color: #6E39a5;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav_bar{
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;

}

.nav_link {
    padding: 0px 6px 0px 6px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav_link:hover{
    text-decoration: underline;

}